@use '../base/colors' as c;
@use '../abstracts/mixins' as m;

.hero{
    @include m.gradient(to right top, c.$gradient-soft);
    
    &-content{
        height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url('../../../assets/images/Symbol-Long-leg.png') center no-repeat, url('../../../assets/images/splash-bcg.png') center 85% no-repeat;
            position: relative;
            &__arrow{
                position: absolute;
                bottom: 0;
                left: 50%;
            }
        }

}
@media (max-width: 767px){
    .hero-content{
        background: url('../../../assets/images/Symbol-Long-leg.png') center left 35% no-repeat;
    }
}

.experience{
    background-color: c.$main;
    padding: 160px 0 40px;
    margin-top: -1px;
    .nav-tabs{
        border-bottom: none;
    }
    &-link{
        margin-bottom: 0;
        padding-right: 40px;
        border-right: 3px solid c.$white;
        &.active{
            border-right: 3px solid c.$accent-red;
        }
    }
    .tab-content{
        padding-left: 40px;
        .experience-text{
            margin-top: 20px;
        }
    }
    #carouselExperience{
        display: none;
        .carousel-indicators{
            bottom: -50px;
            margin-top: 20px;
        }
        .carousel-title{
            text-transform: uppercase;
            @include m.text(14px, bold, 16px, transparent);
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        h3{
            @include m.text(22px, 500, 26px, c.$white);
        }
        .experience-text{
            @include m.text(18px, 400, 26px, c.$white);
        }
    }
}
@media (max-width: 992px){
    .experience__tabs{
        display: none !important;
    }
    .experience{
        padding: 240px 0 40px;
        #carouselExperience{
        display: block;
    }
    }  
}
@media (max-width: 767px){
    .experience{
        padding: 200px 0 40px;
    }  
}

.services{
    .heading-link{
        color: c.$text-grey;
    }
}
.heading-link{
    @include m.text(14px, bold, 17px, c.$accent-active-active);
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '>';
            position: absolute;
            right: -10px;
            top: -10%;
        }
}
.team{
    margin-top: 40px;
}
#carouselTeam{
    background-color: c.$bg-grey;
    border-radius: 12px;
    padding-right: 50px;
    .carousel-indicators{
        bottom: -60px;
    }
    .carousel-item{
        display: flex;
        column-gap: 40px;
    }
    .team-info{
        margin-top: 40px;
    }
    .team-caption{
        display: flex;
        column-gap: 10px;
        .team-img-circle{
            display: none;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}
@media (max-width: 992px){
    .team-image{
        display: none;
    }
    #carouselTeam{
        padding: 0 20px;
        .team-caption{
            .team-img-circle{
                display: block;
            }
        }
    }
}