@use '../base/colors' as c;
@use '../abstracts/mixins' as m;

.publication-page{
    margin-top: 175px;
    padding: 40px 0 60px;
    background-color: c.$bg-grey;
    .action-button{
        margin: 0 auto;
    }
}
.publications-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
}
#publ-switch{
    appearance: none;
}
#publ-switch:checked ~ .publ-switch::before {
    left: 130px;
}
.publ-switch{
    width: 260px;
    height: 50px;
    padding: 5px;
    position: relative;
    display: flex;
    background: c.$separator-grey;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;
    &::before{
        content: '';
        display: flex;
        background: c.$white;
        width: 125px;
        height: 40px;
        border-radius: 10px;
        position: absolute;
        left: 5px;
        transition: 0.5s;
    }
    p{
        @include m.text(18px, 500, 21px, c.$main);
        z-index: 100;
    }
}
.publication-items-wrapper{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.1fr 0.2fr 0.2fr 0.4fr 0fr 0.1fr 0.3fr 0.4fr 0.1fr;
        gap: 40px 40px;
        grid-auto-flow: row;
        grid-template-areas:
            "item1 item2 item3"
            "item4 item2 item3"
            "item4 item5 item3"
            "item4 item5 item6"
            "item4 item5 item6"
            "item7 item5 item6"
            "item7 item8 item6"
            "item7 item8 item9"
            "item10 item8 item9"
            "item10 . item9"
            "item10 item11 ."
            "item10 item11 item12"
            ". item11 item12"
            ". . item12";
    .publication-item{
        &:nth-child(1){
            grid-area: item1;
        }
        &:nth-child(2){
            grid-area: item2;
        }
        &:nth-child(3){
            grid-area: item3;
        }
        &:nth-child(4){
            grid-area: item4;
        }
        &:nth-child(5){
            grid-area: item5;
        }
        &:nth-child(6){
            grid-area: item6;
        }
        &:nth-child(7){
            grid-area: item7;
        }
        &:nth-child(8){
            grid-area: item8;
        }
        &:nth-child(9){
            grid-area: item9;
        }
        &:nth-child(10){
            grid-area: item10;
        }
        &:nth-child(11){
            grid-area: item11;
        }
        &:nth-child(12){
            grid-area: item12;
        }
    }
}
@media (max-width: 992px){
    .publication-page{
        margin-top: 220px;
    }
}
@media (max-width: 767px){
    .publication-page{
        margin-top: 140px;
    }
    .publication-items-wrapper{
        display: flex;
        flex-direction: column;
    }
    .publication-item{
        margin-bottom: 0;
    }
}