@use '../base/colors' as c;
@use '../abstracts/mixins' as m;

.single-publication{
    margin-top: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 910px;
        justify-content: center;
        align-items: center;
    }
}
.publication-description{
    padding: 40px 0;
}
.publication-content{
    padding: 20px 0;
    border-top: 4px solid c.$separator-grey;
    border-bottom: 4px solid c.$separator-grey;
    ol{
        list-style-type: decimal !important;
    }
    li::marker{
        @include m.text(18px, bold, 26px, c.$accent-red);
    }
    li{
        margin-top: 10px;
    }
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        figcaption{
            @include m.text(16px, 400, 22px, c.$text-grey);
        }
    }
    p{
        margin-bottom: 20px;
    }
    .publication-subtitle{
        margin-top: 20px;
    }
}
.publication-share{
    padding: 20px 0 60px;
    display: flex;
    align-self: flex-start;
   
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        background-color: c.$bg-grey;
        width: 42px;
        height: 42px;
        border-radius: 12px;
    }
}

@media (max-width: 992px){
    .single-publication{
        margin-top: 220px;
        &-wrapper{
            padding: 0 20px;
        }
    }
    .publication-image{
        img{
            width: 100%;
        }
    }
}

@media (max-width: 767px){
    .single-publication{
        margin-top: 160px;
    }
    .publication-image{
        img{
            width: 100%;
        }
    }
    .publication-content{
        width: 100%;
        figure{
            img{
                width: 100%;
            }
        }
    }
    .publication-share{
        align-self: center;
    }
}