@use '../base/colors' as c;
@use '../abstracts/mixins' as m;

#carouselTeam, #carouselExperience, #carouselAchievements{
    .carousel-indicators{
        button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: c.$accent-active-active;
        opacity: 0.2;
        &.active{
            opacity: 1;
        }   
    }
    }

}
.action-button{
    display: block;
    width: 250px;
    padding: 12px;
    border: 1px solid c.$accent-active;
    border-radius: 12px;
    background-color: c.$accent-active;
    box-shadow: 0 0 20px rgb(36 163 255 / 50%);
    @include m.text(16px, bold, 22px, c.$white);
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color: c.$accent-active-active;
        color: c.$white;
    }
}