@use '../base/colors' as c;
@use '../abstracts/mixins' as m;

.footer{
    background-color: c.$bg-grey;  
    &-content-wrap{
        padding: 35px 0 50px;
        border-top: 4px solid c.$separator-grey;
        display: flex;
        justify-content: space-between;
    }
    &-adress{
        display: flex;
        align-items: center;
        column-gap: 50px;
        &-map{
            margin-right: 47px;
            position: relative;
        &::before{
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            top: 25%;
            left: -10%;
            background-color: c.$text-grey;
            border-radius: 50%;
        }
        }  
    }
    &-contacts{
        display: flex;
        align-items: center;
        margin-top: 30px;
        &-tel{
            margin-left: 20px;
            margin-right: 30px;
            position: relative;
            &::before,  &::after{
                content: "";
                width: 6px;
                height: 6px;
                position: absolute;
                top: 25%;
                left: -7%;
                background-color: c.$text-grey;
                border-radius: 50%;
            }
            &::after{
                left: 107%;
            }
        }
    }
}
@media (max-width: 992px){
    .footer{
        &-content-wrap{
            padding: 35px 0 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-copyright{
            margin-top: 30px;
        }
    }
}
@media (max-width: 767px){
    .footer{
       padding-top: 40px;
        &-adress, &-contacts{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
            justify-content: center;
            &-map{
                margin: 0;
                &::before{
                    display: none;
                }
            }
        }
        &-contacts{
            margin-top: 15px;
            &-tel{
                &::before, &::after{
                    display: none;
                }
            }
        }
    }
}