@use "../base/colors" as c;
@use "../abstracts/mixins" as m;
.header {
  &__top {
    padding-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-areas: "logo info" "logo navigation";
    .header__logo {
      grid-area: logo;
    }
    .header__info {
      grid-area: info;
      gap: 25px;
      .header__languages {
        .language {
          width: 29px;
          padding: 5px;
          border-radius: 8px;
          @include m.text(12px, 700, 14px, c.$text-grey);
          &:hover {
            background-color: c.$bg-grey-alt;
            color: c.$text-grey !important;
          }
          &.active {
            background-color: c.$accent-red;
            color: c.$white;
          }
        }
      }
      .header__phone {
        position: relative;
        a{
            @include m.text(16px, 700, 19px, c.$white);
        }
        &::before,
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          position: absolute;
          top: 42%;
          left: -8%;
          background: url("../../../assets/icons/dot-separator.svg") left;
        }
        &::after {
          left: 105%;
        }
      }
      .facebook-top {
        width: 24px;
        height: 24px;
        background: url("../../../assets/social-icons/facebook-greysvg.svg");
        &:hover {
          background: url("../../../assets/social-icons/facebook-hover.svg");
        }
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    grid-area: navigation;
    .navbar-nav.menu{
        display: flex;
        padding: 0;
        gap: 15px;
      .menu-link {
        @include m.text(18px, 500, 21px, c.$white);
        &:hover {
          color: c.$accent-red;
        }
        &.active {
          color: c.$accent-red;
          border-bottom: 2px solid c.$accent-red;
        }
      }
    }
  }
}

@media (max-width: 767px){
    .header{
        &__top{
            grid-template-areas: "info info" "logo navigation";
        }
        &__info{
            justify-content: space-between !important;
        }
        &__adress{
            display: none;
        }
        &__phone::before, &__phone::after{
            display: none;
        }
        &__facebook {
            display: none;
        }
        
    }
    }
    
