@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }
  @mixin text($fz, $fw, $lh, $color) {
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}